extends layout
block content
    body.p-0.m-0.border-0.bd-example.border-0
        section.container.mt-4
            .row
                //- AFC East
                .col-md-3.mb-4 
                    h3.text-light AFC East
                    .team-container
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Buffalo Bills')")
                            img.img-fluid.mb-2(src="Images/AFC_East/Buffalo_Bills_logo.svg" alt="Buffalo Bills")
                            p Buffalo Bills
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Miami Dolphins')")
                            img.img-fluid.mb-2(src="Images/AFC_East/Miami_Dolphins_logo.svg" alt="Miami Dolphins")
                            p Miami Dolphins
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('New England Patriots')")
                            img.img-fluid.mb-2(src="Images/AFC_East/New_England_Patriots_logo.svg" alt="New England Patriots")
                            p New England Patriots
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('New York Jets')")
                            img.img-fluid.mb-2(src="Images/AFC_East/New_York_Jets_logo.svg" alt="New York Jets")
                            p New York Jets
                //- AFC North
                .col-md-3.mb-4
                    h3.text-light AFC North
                    .team-container
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Baltimore Ravens')")
                            img.img-fluid.mb-2(src="Images/AFC_North/Baltimore_Ravens_logo.svg" alt="Baltimore Ravens")
                            p Baltimore Ravens
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Cincinnati Bengals')")
                            img.img-fluid.mb-2(src="Images/AFC_North/Cincinnati_Bengals_logo.svg" alt="Cincinnati Bengals")
                            p Cincinnati Bengals
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Cleveland Browns')")
                            img.img-fluid.mb-2(src="Images/AFC_North/Cleveland_Browns_logo.svg" alt="Cleveland Browns")
                            p Cleveland Browns
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Pittsburgh Steelers')")
                            img.img-fluid.mb-2(src="Images/AFC_North/Pittsburgh_Steelers_logo.svg" alt="Pittsburgh Steelers")
                            p Pittsburgh Steelers

                //- AFC South
                .col-md-3.mb-4
                    h3.text-light AFC South
                    .team-container
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Houston Texans')")
                            img.img-fluid.mb-2(src="Images/AFC_South/Houston_Texans_logo.svg" alt="Houston Texans")
                            p Houston Texans
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Indianapolis Colts')")
                            img.img-fluid.mb-2(src="Images/AFC_South/Indianapolis_Colts_logo.svg" alt="Indianapolis Colts")
                            p Indianapolis Colts
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Jacksonville Jaguars')")
                            img.img-fluid.mb-2(src="Images/AFC_South/Jacksonville_Jaguars_logo.svg" alt="Jacksonville Jaguars")
                            p Jacksonville Jaguars
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Tennessee Titans')")
                            img.img-fluid.mb-2(src="Images/AFC_South/Tennessee_Titans_logo.svg" alt="Tennessee Titans")
                            p Tennessee Titans

                    //- AFC West
                .col-md-3.mb-4
                    h3.text-light AFC West
                    .team-container
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Denver Broncos')")
                            img.img-fluid.mb-2(src="Images/AFC_West/Denver_Broncos_logo.svg" alt="Denver Broncos")
                            p Denver Broncos
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Kansas City Chiefs')")
                            img.img-fluid.mb-2(src="Images/AFC_West/Kansas_City_Chiefs_logo.svg" alt="Kansas City Chiefs")
                            p Kansas City Chiefs
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Las Vegas Raiders')")
                            img.img-fluid.mb-2(src="Images/AFC_West/Las_Vegas_Raiders_logo.svg" alt="Las Vegas Raiders")
                            p Las Vegas Raiders
                        button.team-box.text-center(
                            data-bs-toggle="modal" 
                            data-bs-target="#teamModal" 
                            onclick="loadTeamRoster('Los Angeles Chargers')")
                            img.img-fluid.mb-2(src="Images/AFC_West/Los_Angeles_Chargers_logo.svg" alt="Los Angeles Chargers")
                            p Los Angeles Chargers